/* CSS Document */



/*responsive*/







/*-------------------*/


body {
    background-color: #012459;
}

a 	  { text-decoration: none }

a:hover { text-decoration: underline;
          color: rgb(245, 242, 242);
          background-color: #2b577a }

li em   { color: red; 
          font-weight: bold }

ul	  { margin-left: 2cm }

ul ul	  { text-decoration: underline; 
          margin-left: .5cm }
