/* CSS Document */

/*responsive*/

/*Mobile */
@media screen and (min-width: 300px) {
    #mySidebar.open {
        width: 120px;
        /* เต็มจอบนมือถือ */
    }

    #main.shift {
        margin-left: 0;
        /* ไม่ต้องเลื่อนเนื้อหา */
    }

    .sidenav a{
        font-size: 12px;
        /* ขนาดตัวอักษรบนมือถือ */        
    }

    .song iframe {
        width: 120px;
        /* ความกว้างของเพลงบนมือถือ */
    }
}

/* tablet */
@media screen and (min-width: 500px) {

    #mySidebar.open {
        width: 180px;
        /* ความกว้างปกติบนคอม */
    }

    #main.shift {
        margin-left: 180px;
    }

    .song iframe {
        width: 180px;
    }

    .sidenav a {
        font-size: 14px;
        /* ขนาดตัวอักษรบนแท็บเล็ต */
    }
}


/* laptop */
@media screen and (min-width: 800px) {

    #mySidebar.open {
        width: 320px;
        /* ความกว้างปกติบนคอม */
    }

    #main.shift {
        margin-left: 320px;
    }

    .song iframe {
        width: 320px;
    }

    .sidenav a {
        font-size: 18px;
        /* ขนาดตัวอักษรบนคอม */
    }
}


/*-------------------*/

body {
    background-color: #012459;
    margin-top: 20px;
    background-image: url(https://wallpapercrafter.com/th800/244388-night-sky-star-and-space-hd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    color: #818181;
    transition: 0.5s;
    padding-top: 40px;
    /* ซ่อนแถบเลื่อน */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.2s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;

}

.openbtn {
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 20px;
}

.openbtn:hover {
    background-color: #444;
}

.content {
    color: white;
    padding: 1px 16px;
}

.frame {
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 15px;
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

}

a {
    color: white;
    font-size: 20px;
}


a:hover {

    color: rgb(250, 42, 42);

}

#main {
    transition: margin-left 0.3s;
    padding: 16px;
}

.song {
    width: 270px;
    height: auto;
    align-content: center;
}

.code-block {
    position: relative;
    background-color: rgb(118, 124, 182);
    border: 1px solid rgba(255, 255, 255, 0.904);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    margin: 10px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}

footer {
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

mark {
    background-color: bisque;
    color: #725b40;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    /* ✅ ให้ห่อบรรทัด */
    word-wrap: break-word;
    /* ✅ ตัดคำให้พอดีจอ */
    max-width: 100%;
}

code {
    font-family: monospace;
    font-size: 16px;
}