/* CSS Document */



/*responsive*/


/*-------------------*/

body {
    background-color: #012459;
    margin: 0;

}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    margin-top: -5px;
    background-color: #111;
    overflow: auto;
    color: #818181;
    /* ซ่อนแถบเลื่อน */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidenav a {
    padding: 16px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.content {
    color: white;
    padding: 1px 16px;
}

.frame {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 210px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
a {
    color: white;
    font-size: 20px;
}

.code-block {
  position: absolutrel;
  background-color: rgb(118, 124, 182);
  border: 1px solid rgba(255, 255, 255, 0.904);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  margin: 10px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
 
}
